<div class="container-full">
  <img class="container-full healthtech-background" src="/assets/healthtech.jpg">
  <div class="banner-row">

    <div class="banner">
      <ul class="small-block-grid-3 banner-footer">
        <li>
          <h3>Free 2 Week Trial Today</h3>
          <p>Use DocSense for mobile devices in your practice today. <%= link_to 'Sign Up', new_user_registration_url %><p>
        </li>
        <li>
          <h3>Free Medical Code Library</h3>
          <p>Search medical codes by HCPCS or procedural description with ease.</p>
        </li>
        <li>
          <h3>HIPAA Compliant</h3>
          <p>We handle all of the technical requirements mandated by the HIPAA Security Rule.</p>
        </li>
      </ul>
    </div>
  </div>
</div>
