<br>
<div>
  <%= button_to 'Create New', new_encounter_path, method: :get %>
  <% @grouped_encounters.each do |encounter| %>
  <%= link_to encounter.first, schedule_path(date: encounter.first), method: :get, class: 'button tiny' %>
  <% end %>
</div>
<br>

<div id='calendar'></div>
