<h1>Add new encounter</h1>

<%= render 'form' %>

<% content_for :extra_footer do %>
  <script>
  $(function(){
      $('.encounters').on('ajax:complete', function(event, response){
          $(event.target).parent();
        });
      });
  </script>
<% end %>


