<div class="row">
  <div class="large-12 columns">
<h2>Manage your new or existing patients</h2>

<%= render 'form' %>

<% content_for :extra_footer do %>
  <script>
  $(function(){
      $('.encounters').on('ajax:complete', function(event, response){
          $(event.target).parent();
        });
      });
  </script>
<% end %>
</div>
</div>

