<div>
<% @procedures.each do |procedure| %>
  <table>
    <thead>
      <tr>
        <th>Patient Name</th>
        <th>Insurance Provider</th>
        <th>Procedure Description</th>
        <th>Work RVU</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= procedure.patient_name %></td>
        <td><%= procedure.insurance_provider %></td>
        <td><%= procedure.description %></td>
        <td><%= procedure.work_rvu %></td>
      </tr>
    </tbody>
  </table>
<% end %>
</div>
