<div>
  <table>
    <thead>
      <tr>
        <td><h3><%#= @encounter.patient_name %></h3></td>
      </tr>
      <tr>
        <h3>Insurance Provider</h3>
      </tr>
      <tr>
        <h3>Notes<h3>
      </tr>
    </thead>
    <tbody>
      <tr>

      </tr>
      <tr>
        <%= @encounter.insurance_provider %>
      </tr>
      <tr>
        <%= @encounter.notes %>
      </tr>
      <tr>

      </tr>
    </tbody>
  </table>
</div>
