<div>
  <table>
    <thead>
      <tr>
        <td><h3><%= @procedure.patient_name %></h3></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Notes:</td>
      </tr>
    </tbody>
  </table>
</div>
