.unique {
  background: url('/assets/stethoscope.jpg') no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.white-title {
  color: white;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
