body {
  background-color: #f3f5f4;
}


/*.users-index {
  background-image:url(stethoscope.jpg);
  background-repeat:no-repeat;
  background-position: center center;
}*/

.top-bar-section ul.right:not(.has-form) a:not(.button) {
  background-color: #ff7f00;
}

a.small.button.radius {
  background-color: #ff7f00;
/*  padding-right: 15px;
  padding-left: 15px;*/
}

ul.right {
  padding: 0 7px;
}


.top-bar-section li.active:not(.has-form) a:not(.button) {
padding: 0 15px;
line-height: 45px;
color: #fff;
background: #008CBA;
}

.header-homepage {
  height: 10px;
}

li.has-dropdown.not-click {
  background-color: #808080;
}

ul.right {
  background-color: #808080;
  padding: 1px 8px;
}

nav.top-bar {
  background-color: #808080;
}

li.left {
  padding: 0 7px;
}

#calendar {
  float: right;
  width: 600px;
}

a.group.button.tiny {
  float: left;
  margin: 25px 0px 25px;
  display: block;


height: 20px;
font-size: 8pt;
font-weight: bold;
color: white;

}

h2 {
  padding: 10px 0 10px;
  font-size: 18pt;
  font-weight: normal;
}

.report {
  margin: 10px 0 10px;
}
