<h1>Create Report</h1>

<%= simple_form_for :report, url: '/reports', method: 'post' do |f| %>
  <%= f.input :start_date, label: 'Start Date', input_html: {class: 'datepicker'} %>
  <%= f.input :end_date, label: 'End Date', input_html: {class: 'datepicker'} %>
  <%= f.button :submit, 'Create Report' %>
<% end %>
