<div class="row">
  <div class="large-12 columns">

<div class="fixed">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">DocSense</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="left">
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="">Schedule</a>
          <ul class="dropdown">
            <!-- <li><a href="/encounters/new">Schedule</a></li> -->
            <li><a href="/encounters">Calendar</a></li>
            <!-- <li><a href="/encounters/new">Appointment</a></li> -->
          </ul>
        </li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="">Clinical</a>
          <ul class="dropdown">
            <li><a href="/encounters/new">Patient List</a></li>
            <!-- <li><a href="/encounters/new">CMS Rules</a></li>
            <li><a href="/encounters/new">Audit Log</a></li> -->
          </ul>
        </li>
       <!--  <li class="divider"></li>
        <li class="has-dropdown">
          <a href="/encounters">Patients</a>
          <ul class="dropdown">
            <li><a href="/encounters/new">Patient</a></li>

            <li><a href="/encounters/new">Analytics</a></li>
          </ul>
        </li> -->
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="">Reports</a>
          <ul class="dropdown">
            <li><a href="/reports/new">Productivity Report</a></li>
            <li><a href="">Advanced Report</a></li>
          </ul>
        </li>
        <li class="divider"></li>
      </ul>
      <ul class="right">
        <% if user_signed_in? %>
          <li class="account">
          <li>
            <ul>
              <li class="right">
                <%= link_to "Log Out", destroy_user_session_url, method: :delete, class: "small orange button nice radius" %>
              </li>
            </ul>
        <% else %>
              <li class="left">
                <%= link_to 'Log In', new_user_session_url, class: "small orange button nice radius" %>
              </li>
              <li>
                <%= link_to 'Sign Up', new_user_registration_url, class: 'small right button radius' %>
              </li>
            </ul>
          </li>
          </li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>

</div>
</div>
